@import "../../node_modules/bootstrap/less/bootstrap.less";

// @import "../../node_modules/material-ui/src/less/scaffolding.less";
// @import "../../node_modules/material-ui/src/less/components.less";
@import "../../node_modules/fixed-data-table/dist/fixed-data-table.css";


.card-container.card {
    width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    user-select: none;
    cursor: default;
}

.card {
    background-color: @brand-primary;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    height: 124px;
    margin: 0 auto 10px;
    display: block;
}


// .mui-app-canvas {
//   height: 100%;
// }
//
// .logo {
//   cursor: pointer;
//   .mui-font-style-headline;
//   .mui-text-full-white;
//   line-height: @app-bar-height;
//   .mui-font-weight-light;
//   background-color: @primary-1-color;
//   padding-left: @desktop-gutter;
//   padding-top: 0;
//   margin-bottom: @desktop-gutter-mini;
// }
//
// .full-width-section {
//   padding: @desktop-gutter;
//   .clearfix();
//
//   .full-width-section-content {
//     max-width: 1200px;
//     margin: 0 auto;
//   }
//
//   @media @device-small {
//     padding-top: (@desktop-gutter * 2);
//     padding-bottom: (@desktop-gutter * 2);
//   }
//
//   @media @device-large {
//     padding-top: (@desktop-gutter * 3);
//     padding-bottom: (@desktop-gutter * 3);
//   }
// }
