@import "grid";

.ui.modal.top {
  top: 5rem;
}

.ui.header.brand {
  margin-bottom: -1em;
  > img {
    height: 3em;
  }
  > h4 {
    font-weight: normal;
    margin: 0 0 0 .5em;
  }
}
.ui.block.header.toolbar {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.ui.inverted.menu,
.ui.block.header.toolbar {
  border-radius: 0;
}

.ui.menu .header.item:first-child,
.ui.menu .container .item,
.ui.menu .title.item:first-child {
  line-height: 2;
}


.main {
  top: 51px;
  left: 200px;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: auto;

}


body.pushed {
  margin-left: 200px;
}

.login.form {
  margin-left: -100px !important;
  padding-top: 3rem !important;
}

.assignment.student {
  
}
