

@tealLight: #8bd6cd;
@tealMiddle: #A2CFB5;
@tealDark: #82D1C1;
@tealDark2: darken(@tealDark, 10%);


@yellow: #fbb03b;


@red1: #ed1c24;


@body-bg: #eaedf1;

@fa-font-path:   "../assets/fonts";
@icon-font-path: "../bower/bootstrap/fonts/";

@dropdown-bg: @navbar-default-link-active-bg;

@dropdown-border: #ddd;


@btn-primary-bg: @tealDark2;


@gray-darker:  lighten(#000, 13.5%);
@gray-dark:    lighten(#000, 20%);
@gray:         lighten(#000, 33.5%);
@gray-light:   lighten(#000, 60%);
@gray-lighter: lighten(#000, 93.5%);

@brand-primary: #428bca;
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;
