  <div class="row row-with-top-margin">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Classes</h3>
        </div>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Class Name</th>
              <th>Grade Level</th>
              <th>Teachers</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td ><a ui-sref="^.detail.home({ id: 1 })">1</a></td>
              <td><a ui-sref="^.detail.home({ id: 1 })">Humanities</a></td>
              <td>2nd</td>
              <td>James Avery</td>
            </tr>
            <tr>
              <td ><a ui-sref="^.detail.home({ id: 2 })">2</a></td>
              <td><a ui-sref="^.detail.home({ id: 2 })">Math</a></td>
              <td>3rd</td>
              <td>Julie Davis</td>
            </tr>
            <tr>
              <td ><a ui-sref="^.detail.home({ id: 3 })">3</a></td>
              <td><a ui-sref="^.detail.home({ id: 3 })">Science</a></td>
              <td >4th</td>
              <td>Dustyn Joiner</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>