<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Settings</h3>
  </div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label for="className">Class Name</label>
        <input type="text" id="className" class="form-control" placeholder="Class Name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Update</button>
    </form>
  </div>
</div>
