<div class="form-login">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
      <div>
        <alert type="danger" close="hideAlert()" ng-show="loginFailed">
          Login Failed!
        </alert>
      </div>
      <form class="form-horizontal" role="form" ng-submit="login()">
        <div class="input-group field">
          <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
          <input type="text" class="form-control" placeholder="Username" ng-model="username" required>
        </div>
        <!--
        <div class="field">
          <input type="text" placeholder="Username" required>
        </div>
-->
        <div class="input-group field">
          <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
          <input type="password" class="form-control" placeholder="Password" required ng-model="password">
        </div>
        <div class="field">
          <button type="submit" class="btn btn-primary btn-block" ng-disabled="loggingIn">
            <i class="fa fa-cog fa-spin" ng-show="loggingIn"></i> Log in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>