<div class="form-login">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" role="form" ng-submit="login()">
        <div class="field">
          <input type="text" placeholder="Username" required>
        </div>
        <div class="field">
          <input type="password" placeholder="Password" required>

        </div>
        <div class="field">
          <button type="submit" class="btn btn-primary btn-block" ng-disabled="loggingIn">
            <i class="fa fa-cog fa-spin" ng-show="loggingIn"></i> Log in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>