<div>
  <div class="row row-with-top-margin">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Classes</h3>
          <div class="panel-toolbar">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#">Home</a>
              </li>
              <li><a href="#">Profile</a>
              </li>
              <li><a href="#">Messages</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="panel-body">
          Test
        </div>
      </div>
    </div>
  </div>
  <div class="row row-with-top-margin">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Classes</h3>
        </div>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>3</td>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>